<wicket:panel>
  <div class="remove">
    <a wicket:id="remove" class="icon"><i class="icon-remove"></i>
    </a>
  </div>
  <div wicket:id="title">[title label]</div>
  <div wicket:id="id" class="muted">[id label]</div>
</wicket:panel>