a i[class *= 'icon-'] {
    color: #000;
    opacity: .4;
}

a:hover i[class *= 'icon-'] {
    text-decoration: none;
    opacity: .8;
}

a.icon {
    color: inherit;
    text-decoration: none;
}

@node-icon-color: #868686;
.node-icon {
    position: absolute;
    display: block;
    left: 3px;
    top: 3px;
    font-size: 10px;
    color: @node-icon-color;
    &:hover {
        text-decoration: none;
        color: @node-icon-color;
    }
}

.tree-node {
    position: relative;
    font-size: 12px;
}

.tree-content {
    display: block;
    margin-left: 18px;
    a {
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
}

.tree-subtree {
    margin: 0px 0px 0px 18px;
    padding: 0px;
}

.tree-junction {
    display: block;
    float: left;
    width: 18px;
}

.inbox {
    line-height: 14px;
    font-size: 12px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 7px 9px;
            border-bottom: 1px solid #e0e0e0;
        }
    }

    h5 {
        margin: 0;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: inherit;
        font-weight: bold;
        a {
            color: #333;
        }
    }

    .intro {
        margin: 0;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #666;
    }

    .meta {
        margin: 2px 0 0;
        font-size: 11px;
        line-height: 12px;
        color: #999;
        .date {
            color: #548AF5;
        }
    }
}

.content-editor-form {
    height: 100%;
}

.content-editor {
    .toolbar {
        background-color: #f1f1f1;
        position: relative;
        top: -1px;
        border-bottom: 1px solid @editor-border-color;
        padding: 4px;
    }

    .toolbar.label-panel-toolbar {
        padding: 2px 0;
    }

    .label-panel-content {
        padding: 8px;
    }

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .editor {
        width: 100%;
    }

    .editor .inspector {
        background-color: #eee;
        border-bottom: 1px solid @editor-border-color;
        .tab-panel {
            padding: 8px;
        }

        th , td {
            font-family: monospace;
        }
    }
}

.content-editor-placeholder {
    background: #e0e0e0;
    color: #909090;
    text-shadow: 1px 1px #f0f0f0;
    display: table;
    height: 100%;
    width: 100%;
    .message {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

@editor-border-color: #d9d9d9;
.tab-row {
    float: left;
    width: 100%;
    border-bottom: 1px solid @editor-border-color;
    position: relative;
    top: -1px;
    font-size: 12px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            float: left;
            margin: 0;
            border: none;
            border-right: 1px solid @editor-border-color;
            position: relative;
            top: 1px;
            a {
                display: block;
                padding: 6px 10px 4px;
                text-decoration: none;
                white-space: nowrap;
                color: #999;
                border-bottom: 1px solid @editor-border-color;
                &:hover {
                    color: #333;
                }
            }
        }

        li.selected {
            background-color: #f1f1f1;
            a {
                color: #333;
                border-bottom: 1px solid #f1f1f1;
            }
        }
    }
}

.nav {
    position: relative;
    .tab-panel {
        padding: 4px;
    }

    .tab-row {
        li.selected {
            background-color: #fff;
            a {
                border-bottom: 1px solid #fff;
            }
        }
    }
}

.tab-panel {
    clear: left;
}

.close {
    margin-left: 6px;
    position: relative;
    top: -4px;
}

.node-reference-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 4px;
        padding: 4px;
        &:last-child {
            border-bottom-style: none;
            margin-bottom: 0;
        }

        .remove {
            float: right;
            a {
                color: inherit;
                text-decoration: none;
            }
        }

        &:hover .remove {
            visibility: visible;
        }

        > span {
            display: block;
        }
    }
}

.ui-sortable-helper , .ui-draggable-dragging {
    background-color: white;
    display: block;
}

